%h2
  #{@event.name}

%h3
  League Leaderboards
%table
  %tr
    %td{class: 'header-1'} League Name
- @leagues.each do |league|

  %table
    %tr
      %td{class: "text-left person-name"}=link_to(league.name, event_league_path(@event, league.id))
   
%br
%br
%br
%br
%br
%br
%h3
  Global Leaderboard
%table
  %tr{class: 'title-row'}
    %td{class: 'header-1'} Name
    %td{class: 'text-center header-2'} League
    %td{class: 'text-center header-3'} Up By
- @leaderboard.each_with_index do |person, index|
  %table
    %tr{class: 'row-entry'}
      %td{class: 'ordinal'}= index + 1
      %td{class: 'text-left person-name'}= person.name
      %td{class: 'text-center league-name'}= person.league.name    
      -if person.up_by
        %td{class: 'text-left weight'} #{person.up_by(@event)} (#{person.percentage_change})
      -else
        %td{class: 'text-left weight'}
%br
%br
%br
%br
%br
%br
%h3
  %a= link_to('< Back', people_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')
