%h2
  #{@event.name}

%h3
  League Leaderboards
%table
  %tr
    %td{class: 'header-1'} League Name
- @leagues.each do |league|

  %table
    %tr
      %td{class: "text-left person-name"}=link_to(league.name, event_league_path(@event, league.id))
   
%br
%br
%br
%br
%br
%br
  %h3
  Global Leaderboard
  %table
    %tr
    %td Name
    %td League
    %td Up By
- @leaderboard.each_with_index do |person, index|
  %table
    %tr{class: 'row-entry'}
      %td{class: 'ordinal'}= index + 1
      %td{class: 'header-1'}= person.name
      %td{class: 'header-3'}= person.league.name
      %td{class: 'header-2'}= person.up_by(@event)
%br
%br
%br
%br
%br
%br
%h3
  %a= link_to('< Back', people_path, class: 'btn btn-default btn-block navbar navbar-fixed-bottom')
